.uploadForm {
  font-family: Georgia, sans-serif;
  margin-top: 2em !important;
  text-align: center;
}
.thumbnailGenerateForm {
  padding: 2rem 2rem;
  border: 1px solid black;
}

.generateButton {
  margin: auto;
}
